

	*{
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		box-sizing: border-box;
	}

	
	.header{
		width: 100%;
		height: 50px;
		display: block;
		background-color: #FFFFFF
	}
	
	.logo_container{
		height: 50%;
		float: left;
	}
	
	.navigation{
		float: right;
		height: 100%;
		padding: 5px 20px;
		
	}
	
	.navigation a{
		height: 100%;
		display: table;
		float: left;
		padding: 20px 25px;
		font-family: Gibster;
		color: black;
		font-size:15px;
	}
	
	.main {
		padding: 0px 700px;
		
	}
	
	.h1 {
		font-family: arial black;
		font-size: 50px;
		color: white;
		text-align: center;
	}
	
	
	.column {
		float: left;
		width: 33.33%;
		padding: 5px;

	}
	
	.pic1 {
		font-family: Gibster;
		font-size: 30px;
		color: white;
		text-decoration: underline;
	}
	
	.pic2 {
		font-family: Gibster;
		font-size: 30px;
		color: white;
		text-decoration: underline;
	}
	
	.pic3 {
		font-family: Gibster;
		font-size: 30px;
		color: white;
		text-decoration: underline;
	}
	
	.row::after {
		content: "";
		clear: both;
		display: table;
	}
	
	.footer {
		padding: 10px;
		text-align: center;
		background: #FFFFFF;
		font-family: Gibster;
		position: relative;
		top: 200px;
	}
	
	.products1{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.products2{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.products3{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.video{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.panganan{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.event1{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.event2{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	.about{
		text-align: center;
		color: white;
		font-family: Gibster;
		font-size: 25px;
	}
	
	
